<div class="grid grid-cols-3 p-4 gap-2" cdkDropListGroup>
  <app-card *ngFor="let board of boards" class="w-64">
    <app-todo-board-list
      [title]="board.title"
      [todos]="board.content"
      (drop)="onDrop($event)"
      (edit)="onEdit(board.content, $event)"
      (create)="onCreate(board.content, $event)"
    />
  </app-card>
  <div
    id="dropListRemove"
    cdkDropList
    cdkDropListConnectedTo="dropListTodos"
    (cdkDropListDropped)="onDropRemoveZone($event)"
    class="absolute bottom-5 left-0 grid w-full place-items-center text-slate-300 invisible"
  >
    <mat-icon class="remove-zone__icon">delete</mat-icon>
  </div>
</div>
