.pen {
  animation: pen 1s infinite alternate;

  @keyframes pen {
    0% {
      transform: translate(-20%, -10%) rotate3d(1, 1, 1, 25deg);
    }
    100% {
      transform: translate(-30%, -50%) rotate3d(1, 1, 1, 35deg);
    }
  }
}
