<app-card class="w-96 relative">
  <h1 class="text-2xl font-bold pb-2">Register</h1>
  <!-- TODO: implement form -->
</app-card>

<ng-template #validationWarnings let-context>
  <div class="m-2">
    <p *ngIf="context.required" class="text-red-400">this field is required</p>
    <p *ngIf="context.email" class="text-red-400">this is not a valid email</p>
    <p *ngIf="context.pattern" class="text-red-400">
      password needs to contain at least 1 capital letter, 1 lowercase letter
      and 1 symbol. It also requires at least 8 characters.
    </p>
  </div>
</ng-template>
