<app-card class="w-96 relative">
  <h1 class="text-2xl font-bold pb-2">Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input
      class="w-2/5 invalid:text-red-500 invalid:bg-purple-500 box-border"
      type="name"
      name="name"
      placeholder="name"
      formControlName="name"
    />
    <input
      class="w-2/5 box-border"
      type="lastName"
      name="lastName"
      placeholder="last name"
      formControlName="lastName"
    />
    <ng-container
      *ngIf="
        registerForm.controls['name'].touched &&
        registerForm.controls['name'].errors
      "
      [ngTemplateOutlet]="validationWarnings"
      [ngTemplateOutletContext]="{
        $implicit: registerForm.controls['name'].errors
      }"
    />
    <ng-container
      *ngIf="
        registerForm.controls['lastName'].touched &&
        registerForm.controls['lastName'].errors
      "
      [ngTemplateOutlet]="validationWarnings"
      [ngTemplateOutletContext]="{
        $implicit: registerForm.controls['lastName'].errors
      }"
    />
    <input
      class="w-full"
      type="email"
      name="email"
      placeholder="email"
      formControlName="email"
    /><ng-container
      *ngIf="
        registerForm.controls['email'].touched &&
        registerForm.controls['email'].errors
      "
      [ngTemplateOutlet]="validationWarnings"
      [ngTemplateOutletContext]="{
        $implicit: registerForm.controls['email'].errors
      }"
    />
    <input
      class="w-full"
      type="password"
      name="password"
      placeholder="password"
      formControlName="password"
    /><ng-container
      *ngIf="
        registerForm.controls['password'].touched &&
        registerForm.controls['password'].errors
      "
      [ngTemplateOutlet]="validationWarnings"
      [ngTemplateOutletContext]="{
        $implicit: registerForm.controls['password'].errors
      }"
    />
    <input
      class="w-full"
      type="password"
      name="confirmPassword"
      placeholder="confirm password"
      formControlName="confirmPassword"
    /><ng-container
      *ngIf="
        registerForm.controls['confirmPassword'].touched &&
        registerForm.controls['confirmPassword'].errors
      "
      [ngTemplateOutlet]="validationWarnings"
      [ngTemplateOutletContext]="{
        $implicit: registerForm.controls['confirmPassword'].errors
      }"
    />

    <button
      [disabled]="registerForm.invalid"
      class="absolute bottom-8 right-8 disabled:text-gray-300"
      type="submit"
    >
      Register
    </button>
  </form>
</app-card>

<ng-template #validationWarnings let-context>
  <div class="m-2">
    <p *ngIf="context.required" class="text-red-400">this field is required</p>
    <p *ngIf="context.email" class="text-red-400">this is not a valid email</p>
    <p *ngIf="context.pattern" class="text-red-400">
      password needs to contain at least 1 capital letter, 1 lowercase letter
      and 1 symbol. It also requires at least 8 characters.
    </p>
  </div>
</ng-template>
